conf/config.yaml
conf/cache.db
clash.log
.env
logs/
bin/
subconverter/
build-deb.sh
build-rpm.sh
build-tar.sh
build-zip.sh
build-deb.sh
build-rpm.sh
build-tar.sh
test-ubuntu.sh
test-debian.sh
test-centos.sh
test-arch.sh
test-fedora.sh
test-opensuse.sh
test-alpine.sh
test-macos.sh
test-windows.sh
test-macos.sh
test-windows.sh
test-macos.sh
test-windows.sh